<a href="https://colab.research.google.com/github/KryssyCo/DS-Unit-2-Applied-Modeling/blob/master/Krista_Shepard_DSPT2_U2S8M1_Assignment_Applied_Modeling_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Applied Modeling, Module 1

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Choose which observations you will use to train, validate, and test your model. And which observations, if any, to exclude.
- [ ] Determine whether your problem is regression or classification.
- [ ] Choose your evaluation metric.
- [ ] Begin with baselines: majority class baseline for classification, or mean baseline for regression, with your metric of choice.
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" information from the future?

## Reading

### ROC AUC
- [Machine Learning Meets Economics](http://blog.mldb.ai/blog/posts/2016/01/ml-meets-economics/)
- [ROC curves and Area Under the Curve explained](https://www.dataschool.io/roc-curves-and-auc-explained/)
- [The philosophical argument for using ROC curves](https://lukeoakdenrayner.wordpress.com/2018/01/07/the-philosophical-argument-for-using-roc-curves/)

### Imbalanced Classes
- [imbalance-learn](https://github.com/scikit-learn-contrib/imbalanced-learn)
- [Learning from Imbalanced Classes](https://www.svds.com/tbt-learning-imbalanced-classes/)

### Last lesson
- [Attacking discrimination with smarter machine learning](https://research.google.com/bigpicture/attacking-discrimination-in-ml/), by Google Research, with  interactive visualizations. _"A threshold classifier essentially makes a yes/no decision, putting things in one category or another. We look at how these classifiers work, ways they can potentially be unfair, and how you might turn an unfair classifier into a fairer one. As an illustrative example, we focus on loan granting scenarios where a bank may grant or deny a loan based on a single, automatically computed number such as a credit score."_
- [How Shopify Capital Uses Quantile Regression To Help Merchants Succeed](https://engineering.shopify.com/blogs/engineering/how-shopify-uses-machine-learning-to-help-our-merchants-grow-their-business)
- [Maximizing Scarce Maintenance Resources with Data: Applying predictive modeling, precision at k, and clustering to optimize impact](https://towardsdatascience.com/maximizing-scarce-maintenance-resources-with-data-8f3491133050), by Lambda DS3 student Michael Brady. His blog post extends the Tanzania Waterpumps scenario, far beyond what's in the lecture notebook.
- [Notebook about how to calculate expected value from a confusion matrix by treating it as a cost-benefit matrix](https://github.com/podopie/DAT18NYC/blob/master/classes/13-expected_value_cost_benefit_analysis.ipynb)
- [Simple guide to confusion matrix terminology](https://www.dataschool.io/simple-guide-to-confusion-matrix-terminology/) by Kevin Markham, with video
- [Visualizing Machine Learning Thresholds to Make Better Business Decisions](https://blog.insightdatascience.com/visualizing-machine-learning-thresholds-to-make-better-business-decisions-4ab07f823415)

## This is where I obtained my data.

https://www.apartmentlist.com/rentonomics/rental-price-data/

https://data.world/sya/marijuana-laws-by-state

Updated marijuana laws by state csv with data from 

https://www.governing.com/gov-data/safety-justice/state-marijuana-laws-map-medical-recreational.html
 
and confirmed information on:

https://disa.com/map-of-marijuana-legality-by-state

In [1]:
# Read in csv files and look at top and bottom 5 observations.
import pandas as pd
rent = pd.merge(pd.read_csv('https://raw.githubusercontent.com/KryssyCo/Unit-2-Project/master/Apartment-List-Rent-Data-State_2019-8.csv'),
       pd.read_csv('https://raw.githubusercontent.com/KryssyCo/Unit-2-Project/master/state_marijuana_laws_09_2019%20-%20state_marijuana_laws_10_2016.csv'))
      
print(rent.shape)
rent.head()

(245, 74)

  Location Location_Type  ... recreational_mj_legalized  no_mj_legalization
0  Alabama         State  ...                       NaN                 Yes
1  Alabama         State  ...                       NaN                 Yes
2  Alabama         State  ...                       NaN                 Yes
3  Alabama         State  ...                       NaN                 Yes
4  Alabama         State  ...                       NaN                 Yes

[5 rows x 74 columns]

In [2]:
rent.tail()

    Location Location_Type  ... recreational_mj_legalized  no_mj_legalization
240  Wyoming         State  ...                       NaN                 Yes
241  Wyoming         State  ...                       NaN                 Yes
242  Wyoming         State  ...                       NaN                 Yes
243  Wyoming         State  ...                       NaN                 Yes
244  Wyoming         State  ...                       NaN                 Yes

[5 rows x 74 columns]

## Choose your target. Which column in your tabular dataset will you predict?

### The column I choose to use as my target is the column currently labeled " Price_2019_08". I intend on changing the column names to dates and from there, using Panda's to_datetime.

### I've done some initial data exploration on the column in the cells below.

In [3]:
# The mean rent for all states as of August 2019 was $1135. The least expensive 
# was $489 and most expensive was $2967
rent['Price_2019_08'].describe()

count     245.000000
mean     1135.395918
std       465.079284
min       489.000000
25%       775.000000
50%      1069.000000
75%      1355.000000
max      2967.000000
Name: Price_2019_08, dtype: float64

In [6]:
# Check columns for NaN's and there are none.
rent['Price_2019_08'].isnull().sum()

0

## Choose which observations you will use to train, validate, and test your model. And which observations, if any, to exclude.

### The observations for my data are all of the states and the District of Columbia. I may begin by using all of the states and whittle it down to a more manageable number. At this time each state has 5 entries.

In [9]:
rent['Location'].describe(exclude='number')

count                245
unique                49
top       North Carolina
freq                   5
Name: Location, dtype: object

In [10]:
rent['Location'].value_counts()

North Carolina    5
Wisconsin         5
New Mexico        5
New Hampshire     5
Rhode Island      5
Arizona           5
Illinois          5
North Dakota      5
Montana           5
Idaho             5
Colorado          5
Minnesota         5
Indiana           5
South Carolina    5
Georgia           5
Mississippi       5
Louisiana         5
West Virginia     5
Nebraska          5
Tennessee         5
South Dakota      5
Arkansas          5
New York          5
Alaska            5
Connecticut       5
Virginia          5
Texas             5
Iowa              5
Maryland          5
Maine             5
Nevada            5
Kansas            5
Oklahoma          5
Vermont           5
Alabama           5
Utah              5
Washington        5
Florida           5
New Jersey        5
Michigan          5
Oregon            5
Missouri          5
Massachusetts     5
California        5
Kentucky          5
Wyoming           5
Delaware          5
Pennsylvania      5
Ohio              5
Name: Location, dtype: int64